.main {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}
.main .home_img {
    width: 600px;
    height: 600px;
    background-color: transparent;
        
}