.projects {
    position: relative;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
  }
  
  .projects:hover img {
    transform: scale(1.2);
  }
  
  .projects_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000c5, #6b4eff);
    backdrop-filter: blur(8px);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    opacity: 0;
    transition: 0.5s ease;
    color: white;
  }
  
  .projects:hover .projects_layer {
    opacity: 1;
  }
  
  .projects_layer h2 {
    color: #a7e721;
    margin-bottom: 18px;
  }
  .btn_div {
    display: flex;
    align-items: end;
    gap: 25px;
  }
  .btn_div button {
    background-color: #6b4eff;
    width: 100px;
    height: 33px;
    border: solid 0.2px white;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  .projects_layer p {
      margin-bottom: 20px;
  }