.div_apresentacao {
    background-color: black;
    color: white;
    padding: 120px 60px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .text_apresentacao {
    display: flex;
    flex-direction: column;
  }
  .text_apresentacao h3 {
    text-align: left;
    font-size: 35px;
  }
  .text_apresentacao strong {
    color: #a5e723;
    font-size: 70px;
    font-weight: bolder;
    margin-top: -8px;
    margin-left: -2px;
  }
  .text_apresentacao p {
    font-size: 35px;
    margin-bottom: 40px;
    
  }
  .text_apresentacao span,
  .div_apresentacao span {
    color: #a5e723;
  }
  
  .social {
      display: flex;
      gap: 20px;
  }
  
  .social button {
      background-color: transparent;
      color: #a5e723;
      border: solid 2px;
      border-radius: 0 15px 0 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px; /* Tamanho do ícone */
      padding: 10px;
  }
  
  .cv {
      width: 200px;
      height: 50px;
      border-radius: 0 15px 0 8px;
      font-size: 20px;
      background-color: rgb(165, 231, 35);
      color: #6b4eff;
      font-weight: 700;
      
  
  }
  .container_body {
      display: flex;
      justify-content: space-between;
  }
  .div_main .home_img {
      width: 180px;
      height: 180px;
      display: flex;
      text-align: center;   
      
  }
  
  .div_main {
      display: flex;
      background-color: black;
  
  }